extends layout

block content    
  nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
    .container
      a.navbar-brand.js-scroll-trigger(href='#page-top')
      button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        | Menu
        i.fas.fa-bars
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#about') Nosotros
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#projects') Bicicletas
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#signup') Contacto
  // Masthead
  header.masthead
    .container.d-flex.h-100.align-items-center
      .mx-auto.text-center
        h1.mx-auto.my-0.text-uppercase Red Bicicletas         
        h2.text-white-50.mx-auto.mt-2.mb-5 La primera comunidad online de ciclistas        
        a.btn.btn-primary.js-scroll-trigger(href='#about') Comenzar        
  // About
  section#about.about-section.text-center
    .container 
      .row
        .col-lg-8.mx-auto
          h2.text-white.mb-4 Built with Bootstrap 4
          p.text-white-50
            | Red Bicicletas 
            a(href='https://startbootstrap.com/theme/grayscale/') La primera comunidad de ciclistas digitales
            |                             . Los temas pueden ser utilizados para propositos personales o comerciales.
      img.img-fluid(src='/assets/img/ipad.png' alt='')

  // Projects Section
  section#projects.projects-section.bg-light
    .container
      #main_map                   
    // Signup
  section#signup.signup-section
    .container      
      .row
        .col-md-10.col-lg-8.mx-auto.text-center
          i.far.fa-paper-plane.fa-2x.mb-2.text-white
          h2.text-white.mb-5 Suscribete para recibir actualizaciones
          form.form-inline.d-flex
            input#inputEmail.form-control.flex-fill.mr-0.mr-sm-2.mb-3.mb-sm-0(type='email' placeholder='Introduce direccion de correo...')
            button.btn.btn-primary.mx-auto(type='submit') Subscribete
  // Contact
 
  // Footer
  footer.footer.bg-black.small.text-center.text-white-50
    .container Copyright &copy; Your Website 2020     
  // Bootstrap core JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js')
  // Third party plugin JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
  // Core theme JS
  //script(src='js/scripts.js')  COMENTADO
  script(src='/javascripts/scripts.js')
  script(src='/javascripts/map.js')